.container {
	/* background-color: red; */
}

.section {
	/* background-color: blueviolet; */
}

@media only screen and (max-width: 480px) {
	.container {
		/* background-color: rgb(229, 255, 0); */
		display: flex;
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 780px) {
	.container {
		/* background-color: green; */
		display: flex;
		flex-direction: column-reverse;
	}
}
