.card{
    background-color: transparent;
    width:25%;
    height: 220px;
  }
  .image{
    width:100%;
    height: 75%;
  }
  .image img{
    width: 100%;
    height: 100%;
    
  }
  .content{
    height: 20%;
    color: black;
    font-family: 'Poppins';
    font-weight: bold;
  }
.slick-arrow.slick-prev::before{
    position: absolute;
    top: -50%;
    left: -50px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.slick-arrow.slick-next::before{
    position: absolute;
    top: -50%;
    right: -50px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.birdsSectionTwo{
    width:50%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 160px;
}

.birdsSectionTwo .leftBlock{
    height: 160px;
    width:100%;
}
.birdsSectionTwo .leftBlock img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.birdsSectionTwo .rightBlock{
    padding: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width:1024px) {
  .birdsCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width:780px) {
  .birdsCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
}