.container{
    width:840px;
    background-color:white;
    height:370px;
    left: 280px;
    top: 120px;
    position: absolute;
    }
    
    
    .tabs{
       
       list-style: none;
       margin:0;
       display:flex;
       border-bottom:2px solid blue;
    }
    
    .tabs >li{
        margin:0 0em;
        padding:0.5em 1em;
        width:423px;
        
    }
    
    .current{
        background-color:white;
        color:blue;
        font-weight:bold;
        border:2px solid blue;
        border-bottom:0;
        border-top-right-radius:5px;
        border-top-left-radius: 5px;
        position:relative;
        top: 2px;
    }
    .content{
        padding:1em 2em;
    }
