.bird{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 25px auto;
}

.bird-user{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin: 25px auto;
}

.bird .image{
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bird .image .image-block{
    width: 100%;
    height: 100%;
}

.bird-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-button{
    display: flex;
    grid-column-gap: 32px;
}

.wrapper{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.slider{
    width: 70%;
    margin: 25px auto 0;
}

.block{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-column-gap: 20px;
    width: 50%;
    height: 140px;
    margin:25px auto 0;
}

.block .block-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width:992px) {
    .bird-user{
        padding-left: 45px;
        padding-right: 45px;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }
}

@media screen and (max-width:768px) {
    .bird-user{
        padding-left: 45px;
        padding-right: 45px;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
    .slider{
        width: 85%;
    }
    .block{
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    .bird-user{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
    .button-span{
        display: none;
    }
    .block-button{
        grid-column-gap: 16px;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .button-secondary{
        padding-right: 0;
        padding-left: 0;
        min-width: 90px;
    }
    .slider{
        width: 45%;
    }
    .block{
        width: 80%;
    }
}