.shop .shop-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 16px auto 0;

}

.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

@media screen and (max-width:576px){
    
}